<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>

</head>
<body>

    <div id="foot1">

        <a href="https://www.facebook.com/"><img src="images/logo%20fb%20(1).png" hspace="80"></a>
        <a href="https://twitter.com/"><img src="images/logo%20twitter.png" hspace="80"></a>
        <a  href="https://www.instagram.com/"><img src="images/logo insta.png" hspace="80"/></a>
        <a href="https://www.youtube.com/?gl=IN"><img src="images/logo%20yout.png" hspace="80"></a>

    </div>


</body>
</html>