<head>
<% include shared/header.ejs %>
    <!--  Author name: Harmanjeet Kaur
        File name: about.ejs
        website: Harman-porfolio
        Description: About my hobbies and interests
        -->


    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>

<body id="aboutpage">
<div class="img-with-text">
    <img src="images/img3.jpg" width="300" height="200" />
    <p>Interior designing</p>
</div>

<div class="img-with-text">
    <img src="images/img4.jpg" width="300" height="200" />
    <p>Dancing</p>
</div>

<div class="img-with-text">
    <img src="images/img5.jpg" width="300" height="200" />
    <p>Love doing creative things</p>
</div>


<div class="img-with-text">
    <img src="images/img6.jpg" width="300" height="200" />
    <p>Writing quotes and texts</p>
</div>

<% include shared/footer.ejs %>

<body>

