<% include shared/header.ejs %>
<h1><%= title %></h1>
<p><%= message %></p>

<!--  Author name: Harmanjeet Kaur
        File name: Contact.ejs
        website: Harman-porfolio
        Description: My social media links
        -->
<body class="contactbody">

<img src=" images/img7.jpg" width="300px" height="300px">
<a href="https://www.facebook.com/"><img src="images/logo%20fb%20(1).png" hspace="80"></a>
<a href="https://twitter.com/"><img src="images/logo%20twitter.png" hspace="80"></a>
<a  href="https://www.instagram.com/"><img src="images/logo insta.png" hspace="80"/></a>
<a href="https://www.youtube.com/?gl=IN"><img src="images/logo%20yout.png" hspace="80"></a>
</body>
<% include shared/footer.ejs %>