<% include shared/header.ejs %>
<h1><%= title %></h1>
<head>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>

<div class="one">
<div class="img2">
<img src="images/img2.jpg" width="200px" height="250px" class="img2">
</div>
<div class="info">
    <h1>Harmanjeet Kaur</h1>
    <h2>Web Design</h2>
   </div>
</div>
</body>




<% include shared/footer.ejs %>