<% include shared/header.ejs %>
<h1><%= title %></h1>
<p><%= message %></p>
<!--  Author name: Harmanjeet Kaur
        File name: Project.ejs
        website: Harman-porfolio
        Description: My projects that i worked on
        -->

<body>
<h1>Projects I've worked on are an Interior designing website and an Automoblox website in my school:</h1>



</body>
<% include shared/footer.ejs %>