<% include shared/header.ejs %>
<h1><%= title %></h1>
<p><%= message %></p>
<!--  Author name: Harmanjeet Kaur
        File name: Services.ejs
        website: Harman-porfolio
        Description: Home page
        -->

<% include shared/footer.ejs %>